@media only screen and (min-width: 1250px) {
	body {
		font-size: 1em;
	}

	.headerDiv {
		min-height: 550px;
	}

	.bodyContent:nth-child(1) {
		margin-top: 100px;
	}

	.contentSection {
		flex-direction: row;

		gap: 25px;
	}

	.contentSection > img {
		max-width: 512px;
		max-height: 512px;
	}

	.contentSection > div {
		width: 50%;
	}

	.contentSection > div > h1 {
		margin-top: 0;
		margin-left: 30px;

		text-align: left;

		font-size: 4.1em;
	}

	.contentSection > div > p {
		text-align: left;

		width: 620px;

		margin-left: 30px;
		margin-right: 0;
	}

	.contentSection:nth-child(2n) {
		flex-direction: row-reverse;
	}

	.contentSection:nth-child(2n) > div {
		align-items: flex-end;
	}

	.contentSection:nth-child(2n) > div > h1 {
		margin-right: 30px;

		text-align: right;
	}

	.contentSection:nth-child(2n) > div > p {
		margin-right: 30px;

		text-align: right;
	}
}

@media only screen and (min-width: 965px)
{
	.headerOverlayDiv {
		flex-direction: row
	}

	.headerSideDiv {
		align-items: flex-start;

		text-align: left;
	}

	.headerOverlayDiv > img {
		width: 345px;
		height: 345px;

		margin-right: 45px;
		margin-bottom: 0;
	}

	.headerSideDiv > h1 {
		font-size: 5em;
	}

	.headerSideDiv > h2 {
		font-size: 1.5em;
	}
}

@media only screen and (max-width: 1200px)
{
	.headerSideDiv > h1 {
		font-size: 4em;
	}

	.headerSideDiv > h2 {
		font-size: 1.4em;
	}
}

@media only screen and (max-width: 1090px)
{
	.headerOverlayDiv > img {
		width: 300px;
		height: 300px;

		margin-right: 25px;
	}

	.headerSideDiv > h1 {
		font-size: 3.8em;
	}

	.headerSideDiv > h2 {
		font-size: 1.3em;
	}
}