:root
{
    --text-color: #000;
    --body-color: #FFF;
    --body-separator: #373754;
    --text-color-light: white;

    --navbar-background: rgba(61, 61, 93, 1);
    --navbar-thin-text-color: #a2a9c1;

    --navbar-button-bg: rgba(0, 0, 0, 0);

    --separator-background: #49496E;

    --button-normal: rgba(65, 65, 90, 0.4);
    --button-hover: rgba(107, 107, 164, 0.4);
    --button-active: rgba(52, 52, 79, 0.4);
    --button-focus: rgba(18, 18, 28, 0.4);

    --text-gradient-1: rgba(176, 172, 255, 1);
    --text-gradient-2: rgb(181, 120, 255);
    --text-gradient-3: rgba(210, 161, 255, 1);
    --text-gradient-4: rgba(255, 118, 201, 1);

    --social-button-background: rgba(0, 0, 0, 0);

    --scrollbar-background: #1b1b29;

    --footer-foreground: white;
    --footer-background: #3d3d5d;
    --footer-link-hover: #a2a9c1;
    --footer-link-active: #777c8e;
    --footer-link: lightgray;
    --footer-bottom-text: darkgray;
}

