.footerDiv {
    background-color: var(--footer-background);

    border-top: 5px solid;
    border-color: var(--footer-border-top);

    display: flex;
    flex: 0 1 auto;
    justify-content: flex-start;
    align-items: center;
}

.footerTop {
    width: 100%;
}

.footerHeader {
    flex-direction: column;
}

.footerLogo {
    user-select: none;
}

.footerLogo > p {
    font-family: "Nunito-Bold";
    margin: 0;
    opacity: 1;
}

.footerHeaderSocial {
    width: 100%;
    justify-content: space-between;
}

.footerColumn > b {
    user-select: none;
}

.footerColumn > a {
    transition: color 0.3s;
}

.footerColumn > a:visited {
    color: inherit;
}

.footerColumn > a:hover {
    color: var(--footer-link-hover);
}

.footerColumn > a:active {
    color: var(--footer-link-active);
}

.footerColumn > a:link {
    text-decoration: none;
    color: var(--footer-link);
}

.footerBullet {
    position: relative;
}

.footerBottom {
    color: var(--footer-bottom-text);
}