b {
    font-family: 'Nunito-Bold';
}

thin {
    font-family: 'Nunito-Light';
}

h1 {
    font-family: 'Nunito-Bold';
}

:root {
    color-scheme: dark;
}

html {
    overflow-x: clip;
}

body {
    padding: 0;
    margin: 0;

    font-family: 'Nunito-Regular';
    color: var(--text-color);

    background-color: var(--body-color);

    overflow-x: clip;
}

.headerDiv {
    width: 100%;
    height: 75vh;

    background-image: url("../../resources/backdropBlurred.png");
    background-size: cover;
    background-position: center center;
}

.headerOverlayDiv {
    height: 100%;

    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.headerOverlayDiv > img {
    -webkit-user-select: none;
    user-select: none;
}

.headerSideDiv {
    flex-direction: column;

    max-width: 825px;
}

.headerSideDiv > h1 {
    font-family: "Nunito-Bold";

    margin: 0;

    -webkit-user-select: none;
    user-select: none;
}

.headerSideDiv > h2 {
    font-size: 1em;

    margin: 0;

    -webkit-user-select: none;
    user-select: none;
}

.acrylicSurface {
    /*It's 2022 and backdrop-filter is still slow as shit. Why??? Prerendering an image every time I want to make a tiny change is annoying.*/
    background-color: var(--acrylic-color);
}

.separatorDiv {
    background-color: var(--separator-background);

    width: 100%;
    height: 3px;
}

.bodyDiv {
    padding-top: 20px;
    padding-bottom: 20px;

    border-top: 5px solid;
    border-color: var(--body-separator);
}

.contentSection {
    width: 100%;
}

.contentSection > div > h1 {
    background: linear-gradient(90deg, var(--text-gradient-1) 0%, var(--text-gradient-2) 33%, var(--text-gradient-3) 66%, var(--text-gradient-4) 100%);
    background-size: 400% 150%;
    animation: gradientText 5s ease infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    user-select: none;
}

.featuresDiv {
    display: flex;

    justify-content: center;
    align-items: stretch;
    align-content: center;

    flex-wrap: wrap;
    gap: 12px;

    width: 100%;
}

.featuresDiv > div {
    display: flex;
    flex-direction: column;
    text-align: center;

    background-color: #4f364d;

    padding: 0 5px 0 5px;

    border-radius: 8px;
    border-color: #755072;
    border-width: 2px;
    border-style: solid;

    box-shadow: 0 5px 5px 0 rgb(0 0 0 / 35%);
}

.featuresDiv > div > h1 {
    font-size: 4em;
    margin: 0;
}

.featuresDiv > div > h2 {
    margin: 0;
}

@keyframes gradientText {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
