.footerSocialMediaIcon {
    -webkit-user-select: none;
    user-select: none;

    width: 42px;
    height: 42px;

    color: white;

    background-color: var(--social-button-background);
    background-repeat: no-repeat;
    background-size: 32px 32px;
    background-position: center center;

    border-radius: 50%;

    transition-duration: 0.3s;
    border: none;
}

.footerSocialMediaIcon:hover {
    background-color: var(--button-hover);
}

.footerSocialMediaIcon:active {
    background-color: var(--button-active);
}

/*GITHUB ICON*/
.footerSocialMediaIcon.github {
    background-image: url("../../resources/social/github.svg");
}

/*TUMBLR ICON*/
.footerSocialMediaIcon.tumblr {
    background-image: url("../../resources/social/tumblr.svg");
}

/*MASTODON ICON*/
.footerSocialMediaIcon.mastodon {
    background-image: url("../../resources/social/mastodon.svg");
}

/*REDDIT ICON*/
.footerSocialMediaIcon.reddit {
    background-image: url("../../resources/social/reddit.svg");
}

/*YOUTUBE ICON*/
.footerSocialMediaIcon.youtube {
    background-image: url("../../resources/social/youtube.svg");
}

/*ITCH ICON*/
.footerSocialMediaIcon.itch {
    background-image: url("../../resources/social/itch.svg");
}
